# Importing required Liabraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Reading the dataset

In [2]:
sales=pd.read_csv('C:\\Users\\Naveen\\Downloads\\sales.csv',encoding="cp1252")
sales.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,SALES
0,10107,30,95.70,2,2/24/2003 0:00,Shipped,1,February,2003,Motorcycles,...,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small,2871.00
1,10121,34,81.35,5,05-07-2003 00:00,Shipped,2,May,2003,Motorcycles,...,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small,2765.90
2,10134,41,94.74,2,07-01-2003 00:00,Shipped,3,July,2003,Motorcycles,...,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium,3884.34
3,10145,45,83.26,6,8/25/2003 0:00,Shipped,3,August,2003,Motorcycles,...,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium,3746.70
4,10159,49,100.00,14,10-10-2003 00:00,Shipped,4,October,2003,Motorcycles,...,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium,5205.27

# Finding the Null values:

In [3]:
sales.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
SALES                  0
dtype: int64

# Filling of Null values:

In [4]:
sale=sales.fillna(method='bfill')
sale.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,SALES
0,10107,30,95.70,2,2/24/2003 0:00,Shipped,1,February,2003,Motorcycles,...,Level 3,NYC,NY,10022,USA,EMEA,Yu,Kwai,Small,2871.00
1,10121,34,81.35,5,05-07-2003 00:00,Shipped,2,May,2003,Motorcycles,...,Level 3,Reims,CA,51100,France,EMEA,Henriot,Paul,Small,2765.90
2,10134,41,94.74,2,07-01-2003 00:00,Shipped,3,July,2003,Motorcycles,...,Level 3,Paris,CA,75508,France,EMEA,Da Cunha,Daniel,Medium,3884.34
3,10145,45,83.26,6,8/25/2003 0:00,Shipped,3,August,2003,Motorcycles,...,Level 3,Pasadena,CA,90003,USA,EMEA,Young,Julie,Medium,3746.70
4,10159,49,100.00,14,10-10-2003 00:00,Shipped,4,October,2003,Motorcycles,...,Level 3,San Francisco,CA,94217,USA,EMEA,Brown,Julie,Medium,5205.27

Null values are in the form of Catogarical format so it filled with backward fill method

# Dropping the Unnecessary columns:

In [5]:
sa=sale.drop(['ORDERNUMBER','ORDERLINENUMBER','ORDERDATE','QTR_ID','ADDRESSLINE2','PRODUCTCODE','CUSTOMERNAME','PHONE','ADDRESSLINE1','ADDRESSLINE2','CITY','STATE','POSTALCODE','TERRITORY','CONTACTLASTNAME','CONTACTFIRSTNAME'],axis=1)
sa.head()

,QUANTITYORDERED,PRICEEACH,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,COUNTRY,DEALSIZE,SALES
0,30,95.70,Shipped,February,2003,Motorcycles,95,USA,Small,2871.00
1,34,81.35,Shipped,May,2003,Motorcycles,95,France,Small,2765.90
2,41,94.74,Shipped,July,2003,Motorcycles,95,France,Medium,3884.34
3,45,83.26,Shipped,August,2003,Motorcycles,95,USA,Medium,3746.70
4,49,100.00,Shipped,October,2003,Motorcycles,95,USA,Medium,5205.27

# Applying Lable Encoder:

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
sa['STATUS']=le.fit_transform(sa['STATUS'])
sa['MONTH_ID']=le.fit_transform(sa['MONTH_ID'])
sa['PRODUCTLINE']=le.fit_transform(sa['PRODUCTLINE'])
sa['COUNTRY']=le.fit_transform(sa['COUNTRY'])
sa['DEALSIZE']=le.fit_transform(sa['DEALSIZE'])

Lable encoding is used to convert the catogarical values into Numerical values

# Normalizer:

In [7]:
from sklearn.preprocessing import Normalizer
n=Normalizer()

In [8]:
sa[['YEAR_ID','SALES']]=n.fit_transform(sa[['YEAR_ID','SALES']])

In [9]:
sa.head()

,QUANTITYORDERED,PRICEEACH,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,COUNTRY,DEALSIZE,SALES
0,30,95.70,5,3,0.572177,1,95,18,2,0.820130
1,34,81.35,5,8,0.586530,1,95,6,2,0.809927
2,41,94.74,5,5,0.458314,1,95,6,1,0.888790
3,45,83.26,5,1,0.471460,1,95,18,1,0.881887
4,49,100.00,5,10,0.359131,1,95,18,1,0.933287

When you normalize a feature, all feature values will be in the range of 0 to 1.

# Storing values in x and y

In [10]:
x=sa.iloc[:,0:9]
y=sa.iloc[:,9]

# Fitting the Model

In [11]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=0)

# Target variable is continuous so, we are using regression method:

# Linear Regression:

In [12]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(xtrain,ytrain)
ypre=lr.predict(xtest)
score=lr.score(xtest,ytest)
score

0.9450253606074268

It is used to estimate real values (cost of houses, number of calls, total sales etc.) based on continuous variables. Here, we establish a relationship between the independent and dependent variables by fitting the best line.

This best fit line is known as the regression line and represented by a linear equation Y= aX + b.

# Decision Tree Regression:

In [13]:
from sklearn.tree import DecisionTreeRegressor
dr=DecisionTreeRegressor(random_state=0)
dr.fit(xtrain,ytrain)
ypredict=dr.predict(xtest)
score=dr.score(xtest,ytest)
score

0.9997673096680297

# Randomforest Regression:

In [14]:
from sklearn.ensemble import RandomForestRegressor
rr=RandomForestRegressor(random_state=0)
rr.fit(xtrain,ytrain)
yp=rr.predict(xtest)
score=rr.score(xtest,ytest)
score

C:\Users\Naveen\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9996951958105933

# SVR:

In [15]:
from sklearn.svm import SVR
sv=SVR()
sv.fit(xtrain,ytrain)
ypr=sv.predict(xtest)
score=sv.score(xtest,ytest)
score

C:\Users\Naveen\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.0715389096805038

# KNN:

In [16]:
from sklearn.neighbors import KNeighborsRegressor
kn=KNeighborsRegressor()
kn.fit(xtrain,ytrain)
y_pr=kn.predict(xtest)
score=kn.score(xtest,ytest)
score

0.9331227445056268

It simply calculates the distance of a new data point to all other training data points. The distance can be of any type e.g Euclidean or Manhattan etc. It is used to find out the nearest values.

# Polynomial Regression:

In [17]:
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures()
poly.fit(xtrain,xtrain)
#y_predict=poly.predict(xtest)
#score=poly.score(xtest,ytest)
score

0.9331227445056268